/* CSS for website */

h1,h2,h3,h4,h5,h6 {
   /* font-size: 250%; */
   color: white;
   background-color: purple;
   /* background-color: #ebf3fa; */
}
.book .book-body .page-wrapper .page-inner section.normal h6 {
   color: white;
   background-color: purple;
}

/*
.book .book-body .page-wrapper .page-inner section.normal code {
  color: white;
  background-color: purple;
}
*/
/* .code-line-highlight {background-color: #ffff00;} */

/*
.book .book-summary ul.summary li a{
   color: white;
   background-color: purple;
}
*/
